contrib/etc/repose/capabilities.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<resource_type id="List_User_Limits">
		<resource path="/limits">
			<method name="GET">
				<doc title="List User Limits"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Load_Balancers">
		<resource path="/loadbalancers">
			<method name="GET">
				<doc title="List Load Balancers"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Load_Balancers_Details">
		<resource path="/loadbalancers/{loadBalancerId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Load Balancers Details"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Create_Load_Balancer">
		<resource path="/loadbalancers">
			<method name="POST">
				<doc title="Create Load Balancer"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Update_Load_Balancer_Attributes">
		<resource path="/loadbalancers/{loadBalancerId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Update Load Balancer Attributes"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Load_Balancer">
		<resource path="/loadbalancers/{loadBalancerId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Remove Load Balancer"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Load_Balancer_Batch_Delete">
		<resource path="/loadbalancers">
			<param style="query" name="id" type="xs:string"/>
			<method name="DELETE">
				<doc title="Remove Load Balancer Batch Delete"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Error_page">
		<resource path="/loadbalancers/{loadBalancerId}/errorpage">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Error page"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Update_Error_page">
		<resource path="/loadbalancers/{loadBalancerId}/errorpage">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Update Error page"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Delete_Error_page">
		<resource path="/loadbalancers/{loadBalancerId}/errorpage">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Delete Error page"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Load_Balancer_Stats">
		<resource path="/loadbalancers/{loadBalancerId}/stats">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Load Balancer Stats"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Nodes">
		<resource path="/loadbalancers/{loadBalancerId}/nodes">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Nodes"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_details_of_specific_node">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<method name="GET">
				<doc title="List details of specific node"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Add_Nodes">
		<resource path="/loadbalancers/{loadBalancerId}/nodes">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="POST">
				<doc title="Add Nodes"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Modify_Nodes">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<method name="PUT">
				<doc title="Modify Nodes"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Nodes">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<method name="DELETE">
				<doc title="Remove Nodes"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Nodes_Batch_Delete">
		<resource path="/loadbalancers/{loadBalancerId}/nodes">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="query" name="id" type="xs:string" repeating="true"/>
			<method name="DELETE">
				<doc title="Remove Nodes Batch Delete"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Virtual_Ips">
		<resource path="/loadbalancers/{loadBalancerId}/virtualips">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Virtual Ips"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Allowed_Domains">
		<resource path="/loadbalancers/alloweddomains">
			<method name="GET">
				<doc title="List Allowed Domains"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Add_Virtual_IP_Version_6">
		<resource path="/loadbalancers/{loadBalancerId}/virtualips">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="POST">
				<doc title="Add Virtual IP Version 6"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Virtual_IP">
		<resource path="/loadbalancers/{loadBalancerId}/virtualips/{virtualipId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="virtualipId"/>
			<method name="DELETE">
				<doc title="Remove Virtual IP"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Virtual_IP_Batch_Delete">
		<resource path="/loadbalancers/{loadBalancerId}/virtualips">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="query" name="id" type="xs:string" repeating="true"/>
			<method name="DELETE">
				<doc title="Remove Virtual IP Batch Delete"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Billable_LBs">
		<resource path="/loadbalancers/billable">
			<param style="query" name="startTime" type="xs:string"/>
			<param style="query" name="endTime" type="xs:string"/>
			<param style="query" name="offset" type="xs:string"/>
			<param style="query" name="limit" type="xs:string"/>
			<method name="GET">
				<doc title="List Billable LBs"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_account_level_usage">
		<resource path="/loadbalancers/usage">
			<param style="query" name="startTime" type="xs:string"/>
			<param style="query" name="endTime" type="xs:string"/>
			<method name="GET">
				<doc title="List account level usage"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_historical_usage">
		<resource path="/loadbalancers/{loadBalancerId}/usage">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="query" name="startTime" type="xs:string"/>
			<param style="query" name="endTime" type="xs:string"/>
			<method name="GET">
				<doc title="List historical usage"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Current_Usage">
		<resource path="/loadbalancers/{loadBalancerId}/usage/current">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Current Usage"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Access_List">
		<resource path="/loadbalancers/{loadBalancerId}/accesslist">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Access List"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Create_New_Access_list">
		<resource path="/loadbalancers/{loadBalancerId}/accesslist">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="POST">
				<doc title="Create New Access list"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_a_network_item_from_access_list">
		<resource path="/loadbalancers/{loadBalancerId}/accesslist/{networkItemId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="networkItemId"/>
			<method name="DELETE">
				<doc title="Remove a network item from access list"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_the_entire_access_list">
		<resource path="/loadbalancers/{loadBalancerId}/accesslist">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Remove the entire access list"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Batch_Delete_the_access_list_network_items">
		<resource path="/loadbalancers/{loadBalancerId}/accesslist">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="query" name="id" type="xs:string" repeating="true"/>
			<method name="DELETE">
				<doc title="Batch Delete the access list network items"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Retreive_Health_Monitor_configuration">
		<resource path="/loadbalancers/{loadBalancerId}/healthmonitor">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="Retreive Health Monitor configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Update_Health_Monitor">
		<resource path="/loadbalancers/{loadBalancerId}/healthmonitor">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Update Health Monitor"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_Health_Monitor">
		<resource path="/loadbalancers/{loadBalancerId}/healthmonitor">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Remove Health Monitor"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Session_Persistence_Configuration">
		<resource path="/loadbalancers/{loadBalancerId}/sessionpersistence">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Session Persistence Configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Enable_Session_Persistence">
		<resource path="/loadbalancers/{loadBalancerId}/sessionpersistence">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Enable Session Persistence"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Disable_Session_Persistence">
		<resource path="/loadbalancers/{loadBalancerId}/sessionpersistence">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Disable Session Persistence"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Connection_Logging_Configuration">
		<resource path="/loadbalancers/{loadBalancerId}/connectionlogging">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Connection Logging Configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Enable_Disable_Connection_Logging">
		<resource path="/loadbalancers/{loadBalancerId}/connectionlogging">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Enable/Disable Connection Logging"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Connection_Throttling_Configuration">
		<resource path="/loadbalancers/{loadBalancerId}/connectionthrottle">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Connection Throttling Configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Update_Connection_throttling_config">
		<resource path="/loadbalancers/{loadBalancerId}/connectionthrottle">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Update Connection throttling config"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_connection_throttling_configs">
		<resource path="/loadbalancers/{loadBalancerId}/connectionthrottle">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Remove connection throttling configs"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Content_Caching_Configuration">
		<resource path="/loadbalancers/{loadBalancerId}/contentcaching">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Content Caching Configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Enable_Disable_Content_Caching">
		<resource path="/loadbalancers/{loadBalancerId}/contentcaching">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Enable/Disable Content Caching"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Load_balancer_protocols">
		<resource path="/loadbalancers/protocol">
			<method name="GET">
				<doc title="List Load balancer protocols"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Load_balancer_algorithms">
		<resource path="/loadbalancers/algorithms">
			<method name="GET">
				<doc title="List Load balancer algorithms"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_SSL_Termination_Configuration">
		<resource path="/loadbalancers/{loadBalancerId}/ssltermination">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List SSL Termination Configuration"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Update_SSL_Termination">
		<resource path="/loadbalancers/{loadBalancerId}/ssltermination">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="PUT">
				<doc title="Update SSL Termination"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_SSL_Termination">
		<resource path="/loadbalancers/{loadBalancerId}/ssltermination">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="DELETE">
				<doc title="Remove SSL Termination"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_Metadata_for_specific_LB">
		<resource path="/loadbalancers/{loadBalancerId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="GET">
				<doc title="List Metadata for specific LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_details_of_specific_metadata_for_specified_LB">
		<resource path="/loadbalancers/{loadBalancerId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="GET">
				<doc title="List details of specific metadata for specified LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_all_metadata_associated_with_specified_node_and_LB">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<method name="GET">
				<doc title="List all metadata associated with specified node and LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="List_details_for_specific_metadata_item_for_specified_node_and_LB">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="GET">
				<doc title="List details for specific metadata item for specified node and LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Add_Metadata_to_LB">
		<resource path="/loadbalancers/{loadBalancerId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<method name="POST">
				<doc title="Add Metadata to LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Add_Metadata_to_Node">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<method name="POST">
				<doc title="Add Metadata to Node"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Modify_config_of_metadata_on_the_LB">
		<resource path="/loadbalancers/{loadBalancerId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="PUT">
				<doc title="Modify config of metadata on the LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Modify_config_of_metadata_item_on_the_node">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="PUT">
				<doc title="Modify config of metadata item on the node"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_metadata_item_from_LB">
		<resource path="/loadbalancers/{loadBalancerId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="DELETE">
				<doc title="Remove metadata item from LB"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Batch_Delete_metadata_items_given_specified_ID_list">
		<resource path="/loadbalancers/{loadBalancerId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="query" name="id" type="xs:string" repeating="true"/>
			<method name="DELETE">
				<doc title="Batch Delete metadata items given specified ID list"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Remove_a_metadata_item_from_the_node">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata/{metaId}">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<param style="template" type="xs:string" name="metaId"/>
			<method name="DELETE">
				<doc title="Remove a metadata item from the node"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
	<resource_type id="Batch_Delete_node_metadata_items_given_specified_ID_list">
		<resource path="/loadbalancers/{loadBalancerId}/nodes/{nodeId}/metadata">
			<param style="template" type="xs:string" name="loadBalancerId"/>
			<param style="template" type="xs:string" name="nodeId"/>
			<param style="query" name="id" type="xs:string" repeating="true"/>
			<method name="DELETE">
				<doc title="Batch Delete node metadata items given specified ID list"> 
					WRITEME
				</doc>
			</method>
		</resource>
	</resource_type>
</application>

