data-model/src/main/resources/META-INF/xsd/LbManagementApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.openstack.org/loadbalancers/api/management/v1.0"
            xmlns:tns="http://docs.openstack.org/loadbalancers/api/management/v1.0"
            xmlns:papi="http://docs.openstack.org/loadbalancers/api/v1.0"
            xmlns:atom="http://www.w3.org/2005/Atom"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">

    <xsd:import schemaLocation="LoadBalancerApi.xsd" namespace="http://docs.openstack.org/loadbalancers/api/v1.0"/>
    <xsd:import schemaLocation="atom.xsd" namespace="http://www.w3.org/2005/Atom"/>

    <xsd:element name="loadBalancers" type="tns:loadBalancers"/>
    <xsd:complexType name="loadBalancers">
        <xsd:sequence>
            <xsd:element name="loadBalancer" type="tns:loadBalancer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="loadBalancer" type="tns:loadBalancer"/>
    <xsd:complexType name="loadBalancer">
        <xsd:complexContent>
            <xsd:extension base="papi:loadBalancer">
                <xsd:sequence>
                    <xsd:element ref="tns:host"/>
                    <xsd:element ref="tns:rateLimit"/>
                    <xsd:element ref="tns:suspension"/>
                    <xsd:element name="tickets" type="tns:tickets" minOccurs="0"/>
                    <xsd:element name="accountLoadBalancerServiceEvents" type="tns:accountLoadBalancerServiceEvents" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="totalActiveConnections" type="xsd:int"/>
                <xsd:attribute name="sticky" type="xsd:boolean"/>
                <xsd:attribute name="accountId" type="xsd:int"/>
        </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="loadBalancersStatusHistory" type="tns:loadBalancersStatusHistory"/>
    <xsd:complexType name="loadBalancersStatusHistory">
        <xsd:sequence>
            <xsd:element name="loadBalancerStatusHistory" type="tns:loadBalancerStatusHistory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="loadBalancerStatusHistory" type="tns:loadBalancerStatusHistory"/>
    <xsd:complexType name="loadBalancerStatusHistory">
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerId" type="xsd:int"/>
        <xsd:attribute name="status" type="xsd:string"/>
        <xsd:attribute name="created" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="byIdOrName" type="tns:byIdOrName"/>
    <xsd:complexType name="byIdOrName">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="accountLoadBalancers" type="tns:accountLoadBalancers"/>
    <xsd:complexType name="accountLoadBalancers">
        <xsd:sequence>
            <xsd:element name="accountLoadBalancer" type="tns:accountLoadBalancer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="extendedAccountLoadbalancers" type="tns:extendedAccountLoadbalancers"/>
    <xsd:complexType name="extendedAccountLoadbalancers">
        <xsd:sequence>
            <xsd:element name="extendedAccountLoadbalancer" type="tns:extendedAccountLoadbalancer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="blacklist" type="tns:blacklist"/>
    <xsd:complexType name="blacklist">
        <xsd:sequence>
            <xsd:element name="blacklistItem" type="tns:blacklistItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="blacklistItem" type="tns:blacklistItem"/>
    <xsd:complexType name="blacklistItem">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="cidrBlock" type="xsd:string"/>
        <xsd:attribute name="ipVersion" type="papi:ipVersion"/>
        <xsd:attribute name="type" type="tns:blacklistType"/>
    </xsd:complexType>

    <xsd:simpleType name="blacklistType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NODE"/>
            <xsd:enumeration value="ACCESSLIST"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:element name="accountLoadBalancer" type="tns:accountLoadBalancer"/>
    <xsd:complexType name="accountLoadBalancer">
        <xsd:attribute name="loadBalancerId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerName" type="xsd:string"/>
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="clusterName" type="xsd:string"/>
        <xsd:attribute name="loadBalancerStatus" type="xsd:string"/>
        <xsd:attribute name="protocol" type="xsd:string"/>
        <xsd:attribute name="status" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="extendedAccountLoadbalancer" type="tns:extendedAccountLoadbalancer"/>
    <xsd:complexType name="extendedAccountLoadbalancer">
        <xsd:sequence>
            <xsd:element name="virtualIps" type="tns:virtualIps" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="loadBalancerId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerName" type="xsd:string"/>
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="clusterName" type="xsd:string"/>
        <xsd:attribute name="protocol" type="xsd:string"/>
        <xsd:attribute name="status" type="xsd:string"/>
        <xsd:attribute name="region" type="tns:dataCenter"/>
    </xsd:complexType>

    <xsd:element name="accountInCluster" type="tns:accountInCluster"/>
    <xsd:complexType name="accountInCluster">
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerCount" type="xsd:long"/>
    </xsd:complexType>

    <xsd:element name="accountsInCluster" type="tns:accountsInCluster"/>
    <xsd:complexType name="accountsInCluster">
        <xsd:sequence>
            <xsd:element name="accountInCluster" type="tns:accountInCluster" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="totalAccounts" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="accountInHost" type="tns:accountInHost"/>
    <xsd:complexType name="accountInHost">
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="hostId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerCount" type="xsd:long"/>
    </xsd:complexType>

    <xsd:element name="accountsInHost" type="tns:accountsInHost"/>
    <xsd:complexType name="accountsInHost">
        <xsd:sequence>
            <xsd:element name="accountInHost" type="tns:accountInHost" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="totalAccounts" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="clusterDetails" type="tns:clusterDetails"/>
    <xsd:complexType name="clusterDetails">
        <xsd:sequence>
            <xsd:element name="cluster" type="tns:cluster"/>
            <xsd:element name="hostMachineDetails" type="tns:hostMachineDetails"/>
            <xsd:element name="virtualIpBlocks" type="tns:capacityPlanningVirtualIpBlocks"/>
        </xsd:sequence>
        <xsd:attribute name="numberOfActiveLoadBalancer" type="xsd:int"/>
        <xsd:attribute name="noOfuniqueCustomer" type="xsd:int"/>
        <xsd:attribute name="numberOfHostMachines" type="xsd:int"/>
        <xsd:attribute name="averageUtilizationofHosts" type="xsd:string"/>
        <xsd:attribute name="clusterStatus" type="xsd:string" />
    </xsd:complexType>

     <xsd:complexType name="capacityPlanningVirtualIpBlocks">
        <xsd:attribute name="configuredIP" type="xsd:long"/>
        <xsd:attribute name="configuredServiceNet" type="xsd:long"/>
        <xsd:attribute name="freeIP" type="xsd:long"/>
        <xsd:attribute name="freeServiceNet" type="xsd:long"/>
        <xsd:attribute name="deallocatiedIP" type="xsd:long"/>
        <xsd:attribute name="deallocatedServiceNet" type="xsd:long"/>
        <xsd:attribute name="allocatedIP" type="xsd:long"/>
        <xsd:attribute name="allocatedServiceNet" type="xsd:long"/>
        <xsd:attribute name="recentlyAllocatedIP" type="xsd:long"/>
        <xsd:attribute name="receltyAllocatedServiceNet" type="xsd:long"/>
        <xsd:attribute name="ipdaysavailable" type="xsd:long"/>
        <xsd:attribute name="serviceNetdaysavailable" type="xsd:long"/>
    </xsd:complexType>

    <xsd:simpleType name="clusterStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="INACTIVE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="clusters" type="tns:clusters"/>
    <xsd:complexType name="clusters">
        <xsd:sequence>
            <xsd:element name="cluster" minOccurs="1" maxOccurs="unbounded" type="tns:cluster"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="cluster" type="tns:cluster"/>
    <xsd:complexType name="cluster">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="dataCenter" type="tns:dataCenter"/>
        <xsd:attribute name="username" type="xsd:string"/>
        <xsd:attribute name="password" type="xsd:string"/>
        <xsd:attribute name="numberOfLoadBalancingConfigurations" type="xsd:int"/>
        <xsd:attribute name="numberOfUniqueCustomers" type="xsd:int"/>
        <xsd:attribute name="numberOfHostMachines" type="xsd:int"/>
        <xsd:attribute name="utilization" type="xsd:string"/>
        <xsd:attribute name="clusterIpv6Cidr" type="xsd:string"/>
        <xsd:attribute name="status" type="tns:clusterStatus"/>
    </xsd:complexType>

    <xsd:element name="hosts" type="tns:hosts"/>
    <xsd:complexType name="hosts">
        <xsd:sequence>
            <xsd:element name="host" type="tns:host" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="sticky" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:element name="host" type="tns:host"/>
    <xsd:complexType name="host">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="coreDeviceId" type="xsd:string"/>
        <xsd:attribute name="zone" type="tns:zone"/>
        <xsd:attribute name="status" type="tns:hostStatus"/>
        <xsd:attribute name="type" type="tns:hostType"/>
        <xsd:attribute name="maxConcurrentConnections" type="xsd:int"/>
        <xsd:attribute name="managementIp" type="xsd:string"/>
        <xsd:attribute name="trafficManagerName" type="xsd:string"/>
        <xsd:attribute name="soapEndpointActive" type="xsd:boolean"/>
        <xsd:attribute name="managementSoapInterface" type="xsd:string"/>
        <xsd:attribute name="utilization" type="xsd:string"/>
        <xsd:attribute name="numberOfLoadBalancingConfigurations" type="xsd:int"/>
        <xsd:attribute name="numberOfUniqueCustomers" type="xsd:int"/>
        <xsd:attribute name="ipv4Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv6Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv4Public" type="xsd:string"/>
        <xsd:attribute name="ipv6Public" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="hostMachineDetails" type="tns:hostMachineDetails"/>
    <xsd:complexType name="hostMachineDetails">
        <xsd:sequence>
            <xsd:element name="host" type="tns:host" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="currentUtilization" type="xsd:string"/>
        <xsd:attribute name="activeLBConfigurations" type="xsd:long"/>
        <xsd:attribute name="uniqueCustomers" type="xsd:int"/>
        <xsd:attribute name="totalConcurrentConnections" type="xsd:int"/>
        <xsd:attribute name="availableConcurrentConnections" type="xsd:int"/>
    </xsd:complexType>

    <xsd:simpleType name="dataCenter">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DFW"/>
            <xsd:enumeration value="ORD"/>
            <xsd:enumeration value="LON"/>
            <xsd:enumeration value="SYD"/>
            <xsd:enumeration value="IAD"/>
            <xsd:enumeration value="HKG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="zone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="B"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="alerts" type="tns:alerts"/>
    <xsd:complexType name="alerts">
        <xsd:sequence>
            <xsd:element name="alert" type="tns:alert" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="alert" type="tns:alert"/>
    <xsd:complexType name="alert">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="loadbalancerId" type="xsd:int"/>
        <xsd:attribute name="alertType" type="xsd:string"/>
        <xsd:attribute name="messageName" type="xsd:string"/>
        <xsd:attribute name="message" type="xsd:string"/>
        <xsd:attribute name="status" type="tns:alertStatus"/>
        <xsd:attribute name="created" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:simpleType name="hostStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE_TARGET"/>
            <xsd:enumeration value="OFFLINE"/>
            <xsd:enumeration value="BURN_IN"/>
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="FAILOVER"/>
            <xsd:enumeration value="SOAP_API_ENDPOINT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alertStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACKNOWLEDGED"/>
            <xsd:enumeration value="UNACKNOWLEDGED"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hostType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="FAILOVER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="suspension" type="tns:suspension"/>
    <xsd:complexType name="suspension">
        <xsd:sequence>
            <xsd:element ref="tns:ticket"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="reason" type="xsd:string"/>
        <xsd:attribute name="user" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:element name="virtualIps" type="tns:virtualIps"/>
    <xsd:complexType name="virtualIps">
        <xsd:sequence>
            <xsd:element name="virtualIp" type="tns:virtualIp" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="virtualIp" type="tns:virtualIp"/>
    <xsd:complexType name="virtualIp">
        <xsd:complexContent>
            <xsd:extension base="papi:virtualIp">
                <xsd:sequence>
                    <xsd:element ref="tns:ticket"/>
                </xsd:sequence>
                <xsd:attribute name="loadBalancerId" type="xsd:int"/>
                <xsd:attribute name="clusterId" type="xsd:int"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="virtualIpBlocks" type="tns:virtualIpBlocks"/>
    <xsd:complexType name="virtualIpBlocks">
        <xsd:sequence>
            <xsd:element name="virtualIpBlock" type="tns:virtualIpBlock" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="papi:vipType"/>
    </xsd:complexType>
    
    <xsd:element name="virtualIpBlock" type="tns:virtualIpBlock"/>
    <xsd:complexType name="virtualIpBlock">
        <xsd:attribute name="firstIp" type="xsd:string"/>
        <xsd:attribute name="lastIp" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="rateLimit" type="tns:rateLimit"/>
    <xsd:complexType name="rateLimit">
        <xsd:sequence>
            <xsd:element ref="tns:ticket"/>
        </xsd:sequence>
        <xsd:attribute name="expirationTime" type="xsd:dateTime"/>
        <xsd:attribute name="maxRequestsPerSecond" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="loadBalancerLimitGroups" type="tns:loadBalancerLimitGroups"/>
    <xsd:complexType name="loadBalancerLimitGroups">
        <xsd:sequence>
            <xsd:element name="loadBalancerLimitGroup" minOccurs="1" maxOccurs="unbounded" type="tns:loadBalancerLimitGroup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="loadBalancerLimitGroup" type="tns:loadBalancerLimitGroup"/>
    <xsd:complexType name="loadBalancerLimitGroup">
        <xsd:sequence>
            <xsd:element name="accounts" type="tns:accounts" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="limit" type="xsd:int"/>
        <xsd:attribute name="isDefault" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:element name="backups" type="tns:backups"/>
    <xsd:complexType name="backups">
        <xsd:sequence>
            <xsd:element name="backup" minOccurs="1" maxOccurs="unbounded" type="tns:backup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="backup" type="tns:backup"/>
    <xsd:complexType name="backup">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="backupTime" type="xsd:dateTime"/>
        <xsd:attribute name="hostId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="customerList" type="tns:customerList"/>
    <xsd:complexType name="customerList">
        <xsd:sequence>
            <xsd:element name="customers" type="tns:customers" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="customers" type="tns:customers"/>
    <xsd:complexType name="customers">
        <xsd:sequence>
            <xsd:element name="customer" minOccurs="1" maxOccurs="unbounded" type="tns:customer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="customer" type="tns:customer"/>
    <xsd:complexType name="customer">
        <xsd:sequence>
            <xsd:element name="loadBalancers" type="tns:loadBalancers" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="hostCapacityReports" type="tns:hostCapacityReports"/>
    <xsd:complexType name="hostCapacityReports">
        <xsd:sequence>
            <xsd:element name="hostCapacityReport" type="tns:hostCapacityReport" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="hostCapacityReport" type="tns:hostCapacityReport"/>
    <xsd:complexType name="hostCapacityReport">
        <xsd:attribute name="hostId" type="xsd:int"/>
        <xsd:attribute name="hostName" type="xsd:string"/>
        <xsd:attribute name="totalConcurrentConnectionCapacity" type="xsd:int"/>
        <xsd:attribute name="availableConcurrentConnections" type="xsd:int"/>
        <xsd:attribute name="allocatedConcurrentConnections" type="xsd:int"/>
        <xsd:attribute name="allocatedConcurrentConnectionsToday" type="xsd:int"/>
        <xsd:attribute name="allocatedConcurrentConnectionsInLastSevenDays" type="xsd:int"/>
        <xsd:attribute name="remainingDaysOfCapacity" type="xsd:double"/>
    </xsd:complexType>

    <xsd:element name="virtualIpAvailabilityReports" type="tns:virtualIpAvailabilityReports"/>
    <xsd:complexType name="virtualIpAvailabilityReports">
        <xsd:sequence>
            <xsd:element name="virtualIpAvailabilityReport" type="tns:virtualIpAvailabilityReport" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="virtualIpAvailabilityReport" type="tns:virtualIpAvailabilityReport"/>
    <xsd:complexType name="virtualIpAvailabilityReport">
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="clusterName" type="xsd:string"/>
        <xsd:attribute name="totalPublicIpAddresses" type="xsd:long"/>
        <xsd:attribute name="totalServiceNetAddresses" type="xsd:long"/>
        <xsd:attribute name="freeAndClearPublicIpAddresses" type="xsd:long"/>
        <xsd:attribute name="freeAndClearServiceNetIpAddresses" type="xsd:long"/>
        <xsd:attribute name="publicIpAddressesInHolding" type="xsd:long"/>
        <xsd:attribute name="serviceNetIpAddressesInHolding" type="xsd:long"/>
        <xsd:attribute name="publicIpAddressesAllocatedToday" type="xsd:long"/>
        <xsd:attribute name="serviceNetIpAddressesAllocatedToday" type="xsd:long"/>
        <xsd:attribute name="allocatedPublicIpAddressesInLastSevenDays" type="xsd:long"/>
        <xsd:attribute name="allocatedServiceNetIpAddressesInLastSevenDays" type="xsd:long"/>
        <xsd:attribute name="remainingDaysOfPublicIpAddresses" type="xsd:double"/>
        <xsd:attribute name="remainingDaysOfServiceNetIpAddresses" type="xsd:double"/>
    </xsd:complexType>

    <!-- START Zeus callback contract -->
    <xsd:element name="zeusEvent" type="tns:zeusEvent"/>
    <xsd:complexType name="zeusEvent">
        <xsd:attribute name="eventType" type="xsd:string"/>
        <xsd:attribute name="paramLine" type="xsd:string"/>
    </xsd:complexType>
    <!-- END Zeus callback contract -->

    <xsd:element name="accountBillings" type="tns:accountBillings"/>
    <xsd:complexType name="accountBillings">
        <xsd:sequence>
            <xsd:element ref="papi:accountBilling" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="accountUsageRecords">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="accountUsageRecord" type="tns:accountUsageRecord" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="atom:link" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="accountUsageRecord" type="tns:accountUsageRecord"/>
    <xsd:complexType name="accountUsageRecord">
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="numLoadBalancers" type="xsd:int"/>
        <xsd:attribute name="numPublicVips" type="xsd:int"/>
        <xsd:attribute name="numServicenetVips" type="xsd:int"/>
        <xsd:attribute name="startTime" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="loadBalancerUsageRecords">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="loadBalancerUsageRecord" type="tns:loadBalancerUsageRecord" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="atom:link" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="loadBalancerUsageRecord">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerId" type="xsd:int"/>
        <xsd:attribute name="averageNumConnections" type="xsd:double"/>
        <xsd:attribute name="incomingTransfer" type="xsd:long"/>
        <xsd:attribute name="outgoingTransfer" type="xsd:long"/>
        <xsd:attribute name="averageNumConnectionsSsl" type="xsd:double"/>
        <xsd:attribute name="incomingTransferSsl" type="xsd:long"/>
        <xsd:attribute name="outgoingTransferSsl" type="xsd:long"/>
        <xsd:attribute name="numVips" type="xsd:int"/>
        <xsd:attribute name="numPolls" type="xsd:int"/>
        <xsd:attribute name="vipType" type="papi:vipType"/>
        <xsd:attribute name="sslMode" type="xsd:string"/>
        <xsd:attribute name="startTime" type="xsd:dateTime"/>
        <xsd:attribute name="endTime" type="xsd:dateTime"/>
        <xsd:attribute name="eventType" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="listOfInts" type="tns:listOfInts"/>
    <xsd:complexType name="listOfInts">
        <xsd:sequence>
            <xsd:element name="ints" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="listOfStrings" type="tns:listOfStrings"/>
    <xsd:complexType name="listOfStrings">
        <xsd:sequence>
            <xsd:element name="strings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ports" type="tns:ports"/>
    <xsd:complexType name="ports">
        <xsd:sequence>
            <xsd:element name="port" type="tns:port" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="port" type="tns:port"/>
    <xsd:complexType name="port">
        <xsd:sequence>
            <xsd:element name="loadBalancers" type="tns:loadBalancers" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="hostssubnet" type="tns:hostssubnet"/>
    <xsd:complexType name="hostssubnet">
        <xsd:sequence>
            <xsd:element name="hostsubnet" type="tns:hostsubnet" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="hostsubnet" type="tns:hostsubnet"/>
    <xsd:complexType name="hostsubnet">
        <xsd:sequence>
            <xsd:element name="netInterface" type="tns:netInterface" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="netInterface" type="tns:netInterface"/>
    <xsd:complexType name="netInterface">
        <xsd:sequence>
            <xsd:element name="cidr" type="tns:cidr" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="cidr" type="tns:cidr"/>
    <xsd:complexType name="cidr">
        <xsd:attribute name="block" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="cidrTest" type="tns:cidrTest"/>
    <xsd:complexType name="cidrTest">
        <xsd:sequence>
            <xsd:element name="cidrBlock" type="tns:cidr" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="ipVersion" type="papi:ipVersion" />
        <xsd:attribute name="ipAddress" type="xsd:string" />
    </xsd:complexType>

    <xsd:element name="loadBalancerAudits" type="tns:loadBalancerAudits"/>
    <xsd:complexType name="loadBalancerAudits">
        <xsd:sequence>
            <xsd:element name="loadBalancerAudit" minOccurs="1" maxOccurs="unbounded" type="tns:loadBalancerAudit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="loadBalancerAudit" type="tns:loadBalancerAudit"/>
    <xsd:complexType name="loadBalancerAudit">
        <xsd:sequence>
            <xsd:element name="alertAudits" minOccurs="0" maxOccurs="unbounded" type="tns:alerts"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="status" type="xsd:string"/>
        <xsd:attribute name="created" type="xsd:dateTime"/>
        <xsd:attribute name="updated" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="hostUsageList" type="tns:hostUsageList"/>
    <xsd:complexType name="hostUsageList">
        <xsd:sequence>
            <xsd:element name="hostUsageRecords" type="tns:hostUsageRecords" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="hostUsageRecords" type="tns:hostUsageRecords"/>
    <xsd:complexType name="hostUsageRecords">
        <xsd:sequence>
            <xsd:element name="hostUsageRecord" minOccurs="1" maxOccurs="unbounded" type="tns:hostUsageRecord"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="hostUsageRecord" type="tns:hostUsageRecord"/>
    <xsd:complexType name="hostUsageRecord">
        <xsd:sequence>
            <xsd:element name="hostUsages" type="tns:hostUsages" minOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="hostId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="accountGroups" type="tns:accountGroups"/>
    <xsd:complexType name="accountGroups">
        <xsd:sequence>
            <xsd:element name="accountGroup" type="tns:accountGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="accountGroup" type="tns:accountGroup"/>
    <xsd:complexType name="accountGroup">
        <xsd:sequence>
            <xsd:element name="group" type="tns:groupRateLimit"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="groupRateLimits" type="tns:groupRateLimits"/>
    <xsd:complexType name="groupRateLimits">
        <xsd:sequence>
            <xsd:element name="groupRateLimit" type="tns:groupRateLimit" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="groupRateLimit" type="tns:groupRateLimit"/>
    <xsd:complexType name="groupRateLimit">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="isDefault" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:element name="hostUsages" type="tns:hostUsages"/>
    <xsd:complexType name="hostUsages">
        <xsd:sequence>
            <xsd:element name="hostUsage" minOccurs="1" maxOccurs="unbounded" type="tns:hostUsage"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="hostUsage" type="tns:hostUsage"/>
    <xsd:complexType name="hostUsage">
        <xsd:attribute name="bandwidthIn" type="xsd:long"/>
        <xsd:attribute name="bandwidthOut" type="xsd:long"/>
        <xsd:attribute name="day" type="xsd:date"/>
    </xsd:complexType>

    <xsd:element name="ldapInfo" type="tns:ldapInfo"/>
    <xsd:complexType name="ldapInfo">
        <xsd:sequence>
            <xsd:element name="ldapGroup" type="tns:ldapGroup" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="userRole" type="tns:userRole" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="userName" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="ldapGroup" type="tns:ldapGroup"/>
    <xsd:complexType name="ldapGroup">
        <xsd:attribute name="group" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="userRole" type="tns:userRole"/>
    <xsd:complexType name="userRole">
        <xsd:attribute name="roleName" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="accounts" type="tns:accounts"/>
    <xsd:complexType name="accounts">
        <xsd:sequence>
            <xsd:element name="account" minOccurs="1" maxOccurs="unbounded" type="tns:account"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="account" type="tns:account"/>
    <xsd:complexType name="account">
        <xsd:attribute name="id" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="tickets" type="tns:tickets"/>
    <xsd:complexType name="tickets">
        <xsd:sequence>
            <xsd:element name="ticket" minOccurs="1" maxOccurs="unbounded" type="tns:ticket"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ticket" type="tns:ticket"/>
    <xsd:complexType name="ticket">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="ticketId" type="xsd:string"/>
        <xsd:attribute name="comment" type="xsd:string"/>
    </xsd:complexType>


    <xsd:element name="loadBalancerEvent" type="tns:loadBalancerEvent"/>
    <xsd:complexType name="loadBalancerEvent">
        <xsd:complexContent>
            <xsd:extension base="papi:event"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="loadBalancerServiceEvents" type="tns:loadBalancerServiceEvents"/>
    <xsd:complexType name="loadBalancerServiceEvents">
        <xsd:sequence>
            <xsd:element name="loadBalancerServiceEvent" type="tns:loadBalancerServiceEvent" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="loadbalancerId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="loadBalancerServiceEvent" type="tns:loadBalancerServiceEvent"/>
    <xsd:complexType name="loadBalancerServiceEvent">
        <xsd:complexContent>
            <xsd:extension base="papi:event">
                <xsd:sequence>
                    <xsd:element name="detailedMessage" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="accountLoadBalancerServiceEvents" type="tns:accountLoadBalancerServiceEvents"/>
    <xsd:complexType name="accountLoadBalancerServiceEvents">
        <xsd:sequence>
            <xsd:element name="loadBalancerServiceEvents" type="tns:loadBalancerServiceEvents" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="zeusRateLimitedLoadBalancers" type="tns:zeusRateLimitedLoadBalancers"/>
    <xsd:complexType name="zeusRateLimitedLoadBalancers">
        <xsd:sequence>
            <xsd:element name="zeusRateLimitedLoadBalancer" type="tns:zeusRateLimitedLoadBalancer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="zeusRateLimitedLoadBalancer" type="tns:zeusRateLimitedLoadBalancer"/>
    <xsd:complexType name="zeusRateLimitedLoadBalancer">
        <xsd:sequence>
            <xsd:element name="tickets" type="tns:tickets"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
        <xsd:attribute name="loadbalancerId" type="xsd:int"/>
        <xsd:attribute name="maxRequestsPerSecond" type="xsd:int"/>
        <xsd:attribute name="expirationTime" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="customLimitAccounts" type="tns:customLimitAccounts"/>
    <xsd:complexType name="customLimitAccounts">
        <xsd:sequence>
            <xsd:element name="customLimitAccount" type="tns:customLimitAccount" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="customLimitAccount" type="tns:customLimitAccount"/>
    <xsd:complexType name="customLimitAccount">
        <xsd:sequence>
            <xsd:element name="customLimits" type="tns:CustomLimits" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int" />
    </xsd:complexType>

    <xsd:element name="CustomLimits" type="tns:CustomLimits" />
    <xsd:complexType name="CustomLimits">
        <xsd:sequence>
            <xsd:element ref="papi:limit" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--<xsd:element name="customLimit" type="tns:customLimit" />-->
    <!--<xsd:complexType name="customLimit">-->
        <!--<xsd:attribute name="type" type="xsd:string" />-->
        <!--<xsd:attribute name="value" type="xsd:int" />-->
    <!--</xsd:complexType>-->

    <xsd:element name="jobs" type="tns:jobs"/>
    <xsd:complexType name="jobs">
        <xsd:sequence>
            <xsd:element name="job" minOccurs="1" maxOccurs="unbounded" type="tns:job"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="job" type="tns:job"/>
    <xsd:complexType name="job">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="jobName" type="xsd:string"/>
        <xsd:attribute name="state" type="xsd:string"/>
        <xsd:attribute name="startTime" type="xsd:dateTime"/>
        <xsd:attribute name="endTime" type="xsd:dateTime"/>
        <xsd:attribute name="inputPath" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="healthChecks" type="tns:healthChecks" />
    <xsd:complexType name="healthChecks">
        <xsd:sequence>
            <xsd:element name="healthCheck" minOccurs="1" maxOccurs="unbounded" type="tns:healthCheck" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="healthCheck" type="tns:healthCheck" />
    <xsd:complexType name="healthCheck">
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="status" type="xsd:string" />
        <xsd:attribute name="time" type="xsd:long" />
        <xsd:attribute name="message" type="xsd:string" />
    </xsd:complexType>

    <xsd:element name="allAbsoluteLimits" type="tns:allAbsoluteLimits" />
    <xsd:complexType name="allAbsoluteLimits">
        <xsd:sequence>
            <xsd:element name="customLimits" type="tns:CustomLimits" minOccurs="0" />
            <xsd:element name="defaultLimits" type="tns:DefaultLimits" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DefaultLimits" type="tns:DefaultLimits" />
    <xsd:complexType name="DefaultLimits">
        <xsd:sequence>
            <xsd:element ref="papi:limit" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
