data-model/src/main/resources/META-INF/xsd/LoadBalancerApi1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.openstack.org/loadbalancers/api/v1.0"
            xmlns:tns="http://docs.openstack.org/loadbalancers/api/v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">

    <xsd:import schemaLocation="global.xsd" namespace="http://docs.openstack.org/loadbalancers/api/global/v1.0"/>

    <xsd:element name="loadBalancers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="loadBalancer" type="tns:loadBalancer" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="loadBalancer" type="tns:loadBalancer"/>
    <xsd:complexType name="loadBalancer">
        <xsd:sequence>
            <xsd:element name="virtualIps" type="tns:virtualIps" minOccurs="0"/>
            <xsd:element name="nodes" type="tns:nodes" minOccurs="0"/>
            <xsd:element name="loadBalancerUsage" type="tns:loadBalancerUsage" minOccurs="0"/>
            <xsd:element name="sessionPersistence" type="tns:sessionPersistence" minOccurs="0"/>
            <xsd:element name="healthMonitor" type="tns:healthMonitor" minOccurs="0"/>
            <xsd:element name="connectionThrottle" type="tns:connectionThrottle" minOccurs="0"/>
            <xsd:element name="accessList" type="tns:accessList" minOccurs="0"/>
            <xsd:element name="cluster" type="tns:cluster" minOccurs="0"/>
            <xsd:element name="created" type="tns:created" minOccurs="0"/>
            <xsd:element name="updated" type="tns:updated" minOccurs="0"/>
            <xsd:element name="connectionLogging" type="tns:connectionLogging" minOccurs="0"/>
            <xsd:element name="sourceAddresses" type="tns:sourceAddresses" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="algorithm" type="xsd:string"/>
        <xsd:attribute name="protocol" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
        <xsd:attribute name="status" type="xsd:string"/>
        <xsd:attribute name="isSticky" type="xsd:boolean"/>
        <xsd:anyAttribute namespace="##other" processContents="strict"/>
    </xsd:complexType>

    <xsd:element name="sourceAddresses" type="tns:sourceAddresses"/>
    <xsd:complexType name="sourceAddresses">
        <xsd:attribute name="ipv4Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv6Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv4Public" type="xsd:string"/>
        <xsd:attribute name="ipv6Public" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="connectionLogging" type="tns:connectionLogging"/>
    <xsd:complexType name="connectionLogging">
        <xsd:attribute name="enabled" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:element name="created" type="tns:created"/>
    <xsd:complexType name="created">
        <xsd:attribute name="time" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="updated" type="tns:updated"/>
    <xsd:complexType name="updated">
        <xsd:attribute name="time" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="healthMonitor" type="tns:healthMonitor"/>
    <xsd:complexType name="healthMonitor">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="delay" type="xsd:int"/>
        <xsd:attribute name="timeout" type="xsd:int"/>
        <xsd:attribute name="attemptsBeforeDeactivation" type="xsd:int"/>
        <xsd:attribute name="path" type="xsd:string"/>
        <xsd:attribute name="statusRegex" type="xsd:string"/>
        <xsd:attribute name="bodyRegex" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:healthMonitorType"/>
    </xsd:complexType>

    <xsd:simpleType name="healthMonitorType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CONNECT"/>
            <xsd:enumeration value="HTTP"/>
            <xsd:enumeration value="HTTPS"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="virtualIps" type="tns:virtualIps"/>
    <xsd:complexType name="virtualIps">
        <xsd:sequence>
            <xsd:element name="virtualIp" minOccurs="1" maxOccurs="unbounded" type="tns:virtualIp"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="nodes" type="tns:nodes"/>
    <xsd:complexType name="nodes">
        <xsd:sequence>
            <xsd:element name="node" minOccurs="1" maxOccurs="unbounded" type="tns:node"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sessionPersistence" type="tns:sessionPersistence"/>
    <xsd:complexType name="sessionPersistence">
        <xsd:attribute name="persistenceType" type="tns:persistenceType"/>
    </xsd:complexType>

    <xsd:element name="node" type="tns:node"/>
    <xsd:complexType name="node">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
        <xsd:attribute name="condition" type="tns:nodeCondition"/>
        <xsd:attribute name="status" type="tns:nodeStatus"/>
        <xsd:attribute name="weight" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="virtualIp" type="tns:virtualIp"/>
    <xsd:complexType name="virtualIp">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="ipVersion" type="tns:ipVersion"/>
        <xsd:attribute name="type" type="tns:vipType"/>
    </xsd:complexType>

    <xsd:element name="connectionThrottle" type="tns:connectionThrottle"/>
    <xsd:complexType name="connectionThrottle">
        <xsd:attribute name="minConnections" type="xsd:int"/>
        <xsd:attribute name="maxConnections" type="xsd:int"/>
        <xsd:attribute name="maxConnectionRate" type="xsd:int"/>
        <xsd:attribute name="rateInterval" type="xsd:int">
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="algorithm">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="nodeCondition">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENABLED"/>
            <xsd:enumeration value="DISABLED"/>
            <xsd:enumeration value="DRAINING"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nodeStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ONLINE"/>
            <xsd:enumeration value="OFFLINE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="vipType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PUBLIC"/>
            <xsd:enumeration value="SERVICENET"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ipVersion">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass>
                    <jaxb:typesafeEnumMember value="IPV4" name="IPV4"/>
                    <jaxb:typesafeEnumMember value="IPV6" name="IPV6"/>
                </jaxb:typesafeEnumClass>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IPV4"/>
            <xsd:enumeration value="IPV6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="persistenceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTTP_COOKIE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="algorithms" type="tns:algorithms"/>
    <xsd:complexType name="algorithms">
        <xsd:sequence>
            <xsd:element name="algorithm" minOccurs="0" maxOccurs="unbounded" type="tns:algorithm"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="accessList" type="tns:accessList"/>
    <xsd:complexType name="accessList">
        <xsd:sequence>
            <xsd:element name="networkItem" type="tns:networkItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="networkItem" type="tns:networkItem"/>
    <xsd:complexType name="networkItem">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="ipVersion" type="tns:ipVersion"/>
        <xsd:attribute name="type" type="tns:networkItemType"/>
    </xsd:complexType>

    <xsd:simpleType name="networkItemType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALLOW"/>
            <xsd:enumeration value="DENY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="loadBalancerUsageRecord">
        <xsd:attribute name="id" type="xsd:int"/> 
        <xsd:attribute name="averageNumConnections" type="xsd:double"/>
        <xsd:attribute name="incomingTransfer" type="xsd:long"/>
        <xsd:attribute name="outgoingTransfer" type="xsd:long"/>
        <xsd:attribute name="numVips" type="xsd:int"/>
        <xsd:attribute name="numPolls" type="xsd:int"/>
        <xsd:attribute name="startTime" type="xsd:dateTime"/>
        <xsd:attribute name="endTime" type="xsd:dateTime"/>
        <xsd:attribute name="eventType" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:element name="accountBilling" type="tns:accountBilling"/>
    <xsd:complexType name="accountBilling">
        <xsd:sequence>
            <xsd:element name="accountUsage" type="tns:accountUsage" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="loadBalancerUsage" type="tns:loadBalancerUsage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="accountId" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="accountUsage" type="tns:accountUsage"/>
    <xsd:complexType name="accountUsage">
        <xsd:sequence>
            <xsd:element name="accountUsageRecord" type="tns:accountUsageRecord" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="accountUsageRecord" type="tns:accountUsageRecord"/>
    <xsd:complexType name="accountUsageRecord">
        <xsd:attribute name="numLoadBalancers" type="xsd:int"/>
        <xsd:attribute name="numPublicVips" type="xsd:int"/>
        <xsd:attribute name="numServicenetVips" type="xsd:int"/>
        <xsd:attribute name="startTime" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:element name="loadBalancerUsage" type="tns:loadBalancerUsage"/>
    <xsd:complexType name="loadBalancerUsage">
        <xsd:sequence>
            <xsd:element name="loadBalancerUsageRecord" type="tns:loadBalancerUsageRecord" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="loadBalancerId" type="xsd:int"/>
        <xsd:attribute name="loadBalancerName" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="cluster">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="protocols" type="tns:protocols"/>
    <xsd:complexType name="protocols">
        <xsd:sequence>
            <xsd:element name="protocol" minOccurs="0" maxOccurs="unbounded" type="tns:protocol"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="operationsuccess" type="tns:operationresponse"/>
    <xsd:complexType name="operationresponse">
        <xsd:attribute name="status" type="xsd:int"/>
        <xsd:attribute name="message" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="protocol">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="limitTypes" type="tns:limitTypes"/>
    <xsd:complexType name="limitTypes">
        <xsd:sequence>
            <xsd:element name="limitType" type="tns:limitType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="limitType" type="tns:limitType"/>
    <xsd:complexType name="limitType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="defaultValue" type="xsd:int"/>
        <xsd:attribute name="description" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="limits" type="tns:limits"/>
    <xsd:complexType name="limits">
        <xsd:sequence>
            <xsd:element name="absolute" type="tns:absolute"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="absolute" type="tns:absolute"/>
    <xsd:complexType name="absolute">
        <xsd:sequence>
            <xsd:element name="limit" type="tns:limit" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="limit" type="tns:limit"/>
    <xsd:complexType name="limit">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:int"/>
    </xsd:complexType>
</xsd:schema>
