core-adapters/core-netscaler-adapter/src/main/resources/META-INF/xsd/NSCloudLoadBalancerApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.citrix.com/cloud/netscaler/loadbalancers/api/v1.0"
            xmlns:tns="http://docs.citrix.com/cloud/netscaler/loadbalancers/api/v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">

    <xsd:import schemaLocation="global.xsd" namespace="http://docs.citrix.com/cloud/netscaler/loadbalancers/global/api/v1.0"/>

    <xsd:element name="loadBalancers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="loadBalancer" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="loadBalancer" type="tns:loadBalancer"/>

    <xsd:complexType name="loadBalancer">
        <xsd:sequence>
            <xsd:element name="virtualIp" type="tns:virtualIp" minOccurs="0"/>
            <xsd:element name="nodes" type="tns:nodes" minOccurs="0" />
            <xsd:element name="sessionPersistence" type="tns:sessionPersistence" minOccurs="0"/>
            <xsd:element name="healthMonitor" minOccurs="0" type="tns:healthMonitor"/>
            <xsd:element name="connectionThrottle" type="tns:connectionThrottle" minOccurs="0"/>
            <xsd:element name="cluster" type="xsd:string" minOccurs="0"/>
            <xsd:element name="created" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="updated" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="algorithm" type="xsd:string"/>
        <xsd:attribute name="protocol" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
        <xsd:attribute name="status" type="xsd:string"/>
    </xsd:complexType>


    <xsd:element name="healthMonitor" type="tns:healthMonitor" />

    <xsd:complexType name="healthMonitor">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="delay" type="xsd:int"/>
        <xsd:attribute name="timeout" type="xsd:int"/>
        <xsd:attribute name="attemptsBeforeDeactivation" type="xsd:int"/>
        <xsd:attribute name="path" type="xsd:string"/>
        <xsd:attribute name="statusRegex" type="xsd:string"/>
        <xsd:attribute name="bodyRegex" type="xsd:string"/>
        <xsd:attribute name="type" type="tns:healthMonitorType"/>
    </xsd:complexType>


    <xsd:simpleType name="healthMonitorType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CONNECT"/>
            <xsd:enumeration value="HTTP"/>
            <xsd:enumeration value="HTTPS"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="nodes" type="tns:nodes" />
    <xsd:complexType name="nodes">
        <xsd:sequence>
            <xsd:element name="node" type="tns:node" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
     </xsd:complexType>


    <xsd:complexType name="sessionPersistence">
        <xsd:attribute name="persistenceType" type="tns:persistenceType"/>
    </xsd:complexType>

    <xsd:element name="node" type="tns:node" />
    <xsd:complexType name="node">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
        <xsd:attribute name="condition" type="tns:nodeCondition"/>
        <xsd:attribute name="status" type="tns:nodeStatus"/>
        <xsd:attribute name="weight" type="xsd:int"/>
    </xsd:complexType>


    <xsd:complexType name="virtualIp">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="ipVersion" type="tns:ipVersion"/>
        <xsd:attribute name="type" type="tns:VirtualIpType"/>
    </xsd:complexType>

    <xsd:element name="connectionThrottle" type="tns:connectionThrottle" />

    <xsd:complexType name="connectionThrottle">
        <xsd:attribute name="maxRequestRate" type="xsd:int"/>
        <xsd:attribute name="rateInterval" type="xsd:int">
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="algorithm">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="nodeCondition">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENABLED"/>
            <xsd:enumeration value="DISABLED"/>
            <xsd:enumeration value="DRAINING"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nodeStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ONLINE"/>
            <xsd:enumeration value="OFFLINE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="VirtualIpType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PUBLIC"/>
            <xsd:enumeration value="PRIVATE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ipVersion">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:typesafeEnumClass>
                    <jaxb:typesafeEnumMember value="IPV4" name="IPV4"/>
                    <jaxb:typesafeEnumMember value="IPV6" name="IPV6"/>
                </jaxb:typesafeEnumClass>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IPV4"/>
            <xsd:enumeration value="IPV6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="persistenceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTTP_COOKIE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="algorithms" type="tns:algorithms"/>
    <xsd:complexType name="algorithms">
        <xsd:sequence>
            <xsd:element name="algorithm" minOccurs="0" maxOccurs="unbounded" type="tns:algorithm"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="protocols" type="tns:protocols"/>
    <xsd:complexType name="protocols">
        <xsd:sequence>
            <xsd:element name="protocol" minOccurs="0" maxOccurs="unbounded" type="tns:protocol"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="protocol">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:int"/>
    </xsd:complexType>


</xsd:schema>
