jobs/src/main/resources/META-INF/xsd/_1.0Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:event="http://docs.rackspace.com/core/event" xmlns:xerces="http://xerces.apache.org" xmlns:saxon="http://saxon.sf.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://docs.rackspace.com/core/event">

    <complexType name="EventBase" abstract="true">
        <annotation>
            <documentation>
                <html:p>
                    This is the base type for all event records.  The
                    only thing that is required is a version
                    attribute.
                </html:p>
            </documentation>
        </annotation>
        <attribute name="version" type="event:NonEmptyString" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        Event record version.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="EventV1">
        <annotation>
            <documentation>
                <html:p>
                    Event information version 1.
                </html:p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="event:EventBase">
                <sequence>
                    <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="tenantId" type="event:NonEmptyString" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies the tenant ID.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="resourceId" type="event:NonEmptyString" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies an instance of the product.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="id" type="event:UUID" use="required">
                    <annotation>
                        <documentation>
                            <html:p>
                                A GUID identifying the event record.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="referenceId" type="event:UUID" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                A GUID identifying the event record,
                                that this record is updating. This is
                                optional, and this should be used if
                                this event is correcting another
                                event.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="rootAction" type="event:NonEmptyString" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies the action that caused the
                                event.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="type" type="event:EventType" use="required">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies the type of event.  If one
                                of the existing event types don't feed
                                set this type to EXTENDED and add an
                                eventType attribute to your product
                                schema.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="environment" type="event:ENVIRONMENT" use="optional" default="PROD">
                    <annotation>
                        <documentation>
                            <html:p>
                                The environment where the message
                                originated from.  The optional is
                                optional, if it is not specified PROD
                                will be assumed.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="dataCenter" type="event:DC" use="optional" default="GLOBAL">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies the datacenter of the
                                event, for example, DFW3.  The
                                attribute is optional, if it is not
                                specified GLOBAL will be assumed.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="region" type="event:Region" use="optional" default="GLOBAL">
                    <annotation>
                        <documentation>
                            <html:p>
                                Identifies the region, for example,
                                DFW.  The attribute is optional, if it
                                is not specified GLOBAL will be
                                assumed.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="startTime" type="event:UTCDateTime" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                UTC, ISO Format start time. startTime is 
                                inclusive (i.e. the event occurred starting 
                                at the startTime, not after).
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="endTime" type="event:UTCDateTime" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                UTC, ISO Format end time.  For an EXISTs
                                event, the startTime and endTime reflect the
                                event duriation for the resource instance. 
                                endTime is exclusive (i.e. the event occurred
                                up to, but not during the endTime).
                                endTime must come after startTime.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="eventTime" type="event:UTCDateTime" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                UTC, ISO Format event time. The time
                                when an event occured. Use instead of
                                startTime and endTime in cases where
                                the event does not have a range.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
                <attribute name="resourceName" type="event:NonEmptyString" use="optional">
                    <annotation>
                        <documentation>
                            <html:p>
                                Customer defined name for the resource.
                            </html:p>
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="UUID">
        <annotation>
            <documentation>
                <html:p>
                    A universally unique identifier.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <length value="36" fixed="true"/>
            <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
        </restriction>
    </simpleType>

    <simpleType name="UTCDateTime">
        <annotation>
            <documentation>
                <html:p>
                    A datetime in which the timezone is explicitly
                    required and must be +00:00 or Z.
                </html:p>
                <html:p>
                    <html:strong>
                        Only an XSD 1.1 validator will enforce this restriction.
                    </html:strong>
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
        
    </simpleType>

    <simpleType name="EventType">
        <annotation>
            <documentation>
                <html:p>
                    The type of event.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="CREATE"/>
            <enumeration value="USAGE"/>
            <enumeration value="USAGE_SNAPSHOT"/>
            <enumeration value="UPDATE"/>
            <enumeration value="DELETE"/>
            <enumeration value="SUSPEND"/>
            <enumeration value="UNSUSPEND"/>
            <enumeration value="UP"/>
            <enumeration value="DOWN"/>
            <enumeration value="INFO"/>
            <enumeration value="EXTENDED"/>
        </restriction>
    </simpleType>

    <simpleType name="NonEmptyString">
        <annotation>
            <documentation>
                <html:p>
                    Any non-empty string.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <whiteSpace value="collapse"/>
            <minLength value="1"/>
            <maxLength value="255"/>
        </restriction>
    </simpleType>

    <simpleType name="Region">
        <annotation>
            <documentation>
                <html:p>
                    The region in which the event is
                    located. GLOBAL implies that the resoure is
                    regionless.
                </html:p>
                <html:p>
                    Note that the source of truth for this is in the
                    <html:a href="https://dcwiki.rackspace.com/wiki/Main_Page">DC
                    Portal</html:a>.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="GLOBAL"/>
            <enumeration value="DFW"/>
            <enumeration value="HKG"/>
            <enumeration value="IAD"/>
            <enumeration value="LON"/>
            <enumeration value="ORD"/>
            <enumeration value="SYD"/>
        </restriction>
    </simpleType>

    <simpleType name="DC">
        <annotation>
            <documentation>
                <html:p>
                    The datacenter in which the event is
                    located. GLOBAL implies that the resoure is
                    regionless.
                </html:p>
                <html:p>
                    Note that the source of truth for this is in the
                    <html:a href="https://dcwiki.rackspace.com/wiki/Main_Page">DC
                    Portal</html:a>.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="GLOBAL"/>
            <enumeration value="DFW1"/>
            <enumeration value="DFW2"/>
            <enumeration value="DFW3"/>
            <enumeration value="HKG1"/>
            <enumeration value="IAD1"/>
            <enumeration value="IAD2"/>
            <enumeration value="IAD3"/>
            <enumeration value="LON1"/>
            <enumeration value="LON3"/>
            <enumeration value="ORD1"/>
            <enumeration value="SYD2"/>
        </restriction>
    </simpleType>

    <simpleType name="ENVIRONMENT">
        <annotation>
            <documentation>
                <html:p>
                    The environment where the message originated.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="PROD"/>
            <enumeration value="PREPROD"/>
            <enumeration value="STAGE"/>
            <enumeration value="QA"/>
            <enumeration value="DEV"/>
            <enumeration value="UAT"/>
            <enumeration value="LOCAL"/>
        </restriction>
    </simpleType>
</schema>
