jobs/src/main/resources/META-INF/xsd/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   This is a 1.0 XML Schema, generated from a 1.1 schema.
   The purpose of the schema is to enable support for XSD 1.0 processors.
   The official schema is the 1.1 version from which this schema was defined.
   This schema misses some critical checks that are only performed in the 1.1 version.
   Validation at the usage layer will always use the 1.1 schema.
-->
<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:event="http://docs.rackspace.com/core/event"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    targetNamespace="http://docs.rackspace.com/core/event">

    <include schemaLocation="_1.0Core.xsd"/>
    <xsd:import  namespace="http://docs.rackspace.com/event/lbaas/delete"
            schemaLocation="ProductExtension-LBaaS-delete.xsd"/>
    <xsd:import  namespace="http://docs.rackspace.com/usage/lbaas"
            schemaLocation="ProductExtension-LBaaS.xsd"/>


    <!-- Define the element for XSD 1.0 clients -->
    <element name="event" type="event:V1Element"/>

    <complexType name="V1Element">
        <complexContent>
            <restriction base="event:EventV1">
                <sequence>
                    <any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="version" type="event:NonEmptyString" use="required" fixed="1"/>
            </restriction>
        </complexContent>
    </complexType>
</schema>
