jobs/src/main/resources/META-INF/xsd/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   This is a 1.0 XML Schema, generated from a 1.1 schema.
   The purpose of the schema is to enable support for XSD 1.0 processors.
   The official schema is the 1.1 version from which this schema was defined.
   This schema misses some critical checks that are only performed in the 1.1 version.
   Validation at the usage layer will always use the 1.1 schema.
-->
<xsd:schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns="http://www.w3.org/2001/XMLSchema/spring-tx-2.5.xsd"
        xmlns:event="http://docs.rackspace.com/core/event"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:html="http://www.w3.org/1999/xhtml"
        targetNamespace="http://docs.rackspace.com/core/event"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/aop
                         http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <xsd:include schemaLocation="_1.0Core.xsd"/>

    <!-- Define the element for XSD 1.0 clients -->
    <xsd:element name="event" type="event:V1Element"/>

    <xsd:complexType name="V1Element">
        <xsd:complexContent>
            <xsd:restriction base="event:EventV1">
                <xsd:sequence>
                    <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="version" type="xsd:string" use="required" fixed="1"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
