jobs/src/main/resources/META-INF/xsd/entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:event="http://docs.rackspace.com/core/event" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xerces="http://xerces.apache.org" xmlns:saxon="http://saxon.sf.net/" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.w3.org/2005/Atom">

    

    <import vc:minVersion="1.0" vc:maxVersion="1.1" namespace="http://docs.rackspace.com/core/event" schemaLocation="core.xsd"/>

    <element name="entry" type="atom:UsageEntry"/>

    <complexType name="UsageEntry">
        <annotation>
            <documentation>
                <html:p>
                    The following is a usage entry as expected by
                    AtomHopper when collecting usage.
                </html:p>
            </documentation>
        </annotation>
        
        <!--
            Order matters in 1.0 land :-(
        -->
        <sequence vc:minVersion="1.0" vc:maxVersion="1.1">
            <element name="title" type="atom:Title" minOccurs="0"/>
            <element name="id" type="xsd:anyURI" minOccurs="0"/>
            <element name="updated" type="xsd:dateTime" minOccurs="0"/>
            <element name="category" type="atom:UsageCategory" minOccurs="0" maxOccurs="20"/>
            <element name="content" type="atom:UsageContent">
            </element>
            <any maxOccurs="20" minOccurs="0" processContents="skip"/>
        </sequence>
        <anyAttribute processContents="skip"/>
        
    </complexType>

    <complexType name="BaseContent" abstract="true"/>

    <complexType name="LooseContent" mixed="true">
        <complexContent>
            <extension base="atom:BaseContent">
                <sequence>
                    <any minOccurs="0" processContents="skip"/>
                </sequence>
                <attribute name="type" type="xsd:string" use="required"/>
                <anyAttribute processContents="skip"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="UsageContent">
        <complexContent>
            <extension base="atom:BaseContent">
                <sequence>
                    <choice>
                        <element ref="event:event"/>
                        
                    </choice>
                </sequence>
                <attribute name="type" type="xsd:string" fixed="application/xml" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="UsageCategory">
        <attribute name="term" type="xsd:string" use="required"/>
        <attribute name="scheme" type="xsd:anyURI" use="optional"/>
        <attribute name="label" type="xsd:string" use="optional"/>
    </complexType>

    <complexType name="Title">
        <simpleContent>
            <extension base="xsd:string">
                <attribute name="type" type="atom:Type"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="Type">
        <restriction base="xsd:string">
            <enumeration value="text"/>
            <enumeration value="html"/>
            <enumeration value="xhtml"/>
        </restriction>
    </simpleType>
</schema>
