jobs/src/main/resources/META-INF/xsd/entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   This is a 1.0 XML Schema, generated from a 1.1 schema.
   The purpose of the schema is to enable support for XSD 1.0 processors.
   The official schema is the 1.1 version from which this schema was defined.
   This schema misses some critical checks that are only performed in the 1.1 version.
   Validation at the usage layer will always use the 1.1 schema.
-->
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:event="http://docs.rackspace.com/core/event" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.w3.org/2005/Atom">



    <import vc:minVersion="1.0" vc:maxVersion="1.1" namespace="http://docs.rackspace.com/core/event" schemaLocation="core.xsd"/>

    <element name="entry" type="atom:UsageEntry"/>

    <complexType name="UsageEntry">
        <annotation>
            <documentation>
                <html:p>
                    The following is a usage entry as expected by
                    AtomHopper when collecting usage.
                </html:p>
            </documentation>
        </annotation>

        <!--
            Order matters in 1.0 land :-(
        -->
        <sequence vc:minVersion="1.0" vc:maxVersion="1.1">
            <element name="title" type="atom:Title" minOccurs="0"/>
            <element name="id" type="xsd:anyURI" minOccurs="0"/>
            <element name="updated" type="xsd:dateTime" minOccurs="0"/>
            <element name="category" type="atom:UsageCategory" minOccurs="0" maxOccurs="20"/>
            <element name="content" type="atom:UsageContent"/>
            <any maxOccurs="20" minOccurs="0" processContents="skip"/>
        </sequence>
    </complexType>

    <complexType name="UsageContent">
        <sequence>
            <element ref="event:event"/>
        </sequence>
        <attribute name="type" type="xsd:string" fixed="application/xml" use="required"/>
    </complexType>

    <complexType name="UsageCategory">
        <attribute name="term" type="xsd:string" use="required"/>
        <attribute name="scheme" type="xsd:anyURI" use="optional"/>
        <attribute name="label" type="xsd:string" use="optional"/>
    </complexType>

    <complexType name="Title">
        <simpleContent>
            <extension base="xsd:string">
                <attribute name="type" type="atom:Type"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="Type">
        <restriction base="xsd:string">
            <enumeration value="text"/>
            <enumeration value="html"/>
            <enumeration value="xhtml"/>
        </restriction>
    </simpleType>
</xsd:schema>
