jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/philliptoohill/openWorkSpace/atlas-lb/jobs/src/main/resources/META-INF/xml/lbaas.xml
    GENERATED ON: 2012-06-07T00:45:11.586-05:00
-->
<schema xmlns:html="http://www.w3.org/1999/xhtml"
        xmlns:usage="http://docs.rackspace.com/core/usage"
        xmlns:saxon="http://saxon.sf.net/"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xerces="http://xerces.apache.org"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://docs.rackspace.com/usage/lbaas"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://docs.rackspace.com/usage/lbaas">
   <element name="product" type="p:LoadBalancersUsageType"/>
   <complexType name="LoadBalancersUsageType">
      <annotation>
         <documentation>
            <html:p>Lbaas load balancer usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="LoadBalancersUsage"/>
      <attribute name="avgConcurrentConnections" use="required" type="xsd:double">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent connections in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="int" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="avgConcurrentConnectionsSsl" use="required" type="xsd:double">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent ssl connections in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="int" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthIn" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOut" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthInSsl" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOutSsl" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numPolls" use="required" type="xsd:integer">
         <annotation>
            <documentation>
               <html:p>The number of polls per record.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="int" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numVips" use="required" type="xsd:integer">
         <annotation>
            <documentation>
               <html:p>The number of vips per record.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="int" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="tagsBitmask" use="required" type="xsd:integer">
         <annotation>
            <documentation>
               <html:p>the BitMask tags.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="int" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="eventType" use="required" type="xsd:string">
         <annotation>
            <documentation>
               <html:p>The event type.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="accountId" use="required" type="xsd:integer">
         <annotation>
            <documentation>
               <html:p>The account id.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCING"/>
      </restriction>
   </simpleType>





    <element name="accountUsage" type="lbaas:accountLoadBalancerUsage"/>

    <complexType name="accountLoadBalancerUsage">
        <annotation>
            <documentation>
                <html:p>
                    LBaaS specific user fields.
                </html:p>
            </documentation>
        </annotation>
        <attribute name="id" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The id associated with this account usage entry.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="accountId" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The account id.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numLoadbalancers" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of load balancers for this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numPublicVips" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of public vips on this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numServicenetVips" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of service net vips on this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="startTime" type="xsd:dateTime" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The start time.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute processContents="lax"/>
    </complexType>


</schema>