jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:lbaas="http://docs.rackspace.com/usage/lbaas"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:event="http://docs.rackspace.com/core/event"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://docs.rackspace.com/usage/lbaas">

    <element name="event" type="lbaas:loadBalancerUsage"/>

    <complexType name="loadBalancerUsage">
        <annotation>
            <documentation>
                <html:p>
                    LBaaS specific user fields.
                </html:p>
            </documentation>
        </annotation>
        <attribute name="avgConcurrentConnections" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount conncurrent connections.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="avgConcurrentConnectionsSsl" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount conncurrent connections.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="bandWidthIn" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount band width in.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="bandWidthOut" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount band width out.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="bandWidthInSsl" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount band width in.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="bandWidthOutSsl" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The amount band width out.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numPolls" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of polls per record.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numVips" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of vips.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="tagsBitmask" type="xsd:double" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The bitmask tag.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="eventType" type="xsd:string" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The event type.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute processContents="lax"/>
    </complexType>





    <element name="accountUsage" type="lbaas:accountLoadBalancerUsage"/>

    <complexType name="accountLoadBalancerUsage">
        <annotation>
            <documentation>
                <html:p>
                    LBaaS specific user fields.
                </html:p>
            </documentation>
        </annotation>
        <attribute name="id" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The id associated with this account usage entry.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="accountId" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The account id.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numLoadbalancers" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of load balancers for this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numPublicVips" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of public vips on this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="numServicenetVips" type="xsd:int" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The number of service net vips on this account.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="startTime" type="xsd:dateTime" use="required">
            <annotation>
                <documentation>
                    <html:p>
                        The start time.
                    </html:p>
                </documentation>
            </annotation>
        </attribute>
        <anyAttribute processContents="lax"/>
    </complexType>


</schema>