jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaS-delete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/lbaas/delete"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/lbaas/delete">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Delete event for lbaas loadbalancers.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCER"/>
      </restriction>
   </simpleType>
</xsd:schema>