jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaSAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/lbaas/account"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/lbaas/account">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Lbaas load balancer tenant usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="numLoadbalancers" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of load balancers associated with the tenant.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numPublicVips" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of public virtual ips associated with the tenant. record.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numServicenetVips" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of service net virtual ips associated with the tenant.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
</xsd:schema>