jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/philliptoohill/openWorkSpace/atlas-lb/jobs/src/main/resources/META-INF/xml/lbaas.xml
    GENERATED ON: 2012-06-12T10:30:00.984-05:00
-->
<xsd:schema xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xerces="http://xerces.apache.org"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:p="http://docs.rackspace.com/usage/lbaas"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/lbaas">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Lbaas load balancer usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="CloudLoadBalancers"/>
      <attribute name="avgConcurrentConnections" use="required" type="xsd:double">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="avgConcurrentConnectionsSsl" use="required" type="xsd:double">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent ssl connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthIn" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOut" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthInSsl" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOutSsl" use="required" type="xsd:long">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numPolls" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of polls per load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numVips" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of vips per load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vipType" use="required" type="p:vipTypeEnum">
         <annotation>
            <documentation>
               <html:p>The vip type associated with the load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="sslMode" use="required" type="p:sslModeEnum">
         <annotation>
            <documentation>
               <html:p>The mode determining SSL status on the load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCER"/>
      </restriction>
   </simpleType>
   <simpleType name="vipTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="PUBLIC"/>
         <enumeration value="SERVICENET"/>
      </restriction>
   </simpleType>
   <simpleType name="sslModeEnum">
      <restriction base="xsd:string">
         <enumeration value="ON"/>
         <enumeration value="OFF"/>
         <enumeration value="MIXED"/>
      </restriction>
   </simpleType>
</xsd:schema>