jobs/src/main/resources/META-INF/xsd/ProductExtension-Annotations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:usage="http://docs.rackspace.com/usage/core"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://docs.rackspace.com/usage/core">

    <element name="attributes" type="usage:AttributeAnnotation"/>

    <complexType name="AttributeAnnotation">
        <annotation>
            <documentation>
                <html:p>
                    Annotations associated with product schema
                    attributes.
                </html:p>
            </documentation>
        </annotation>
        <attribute name="aggregate-function" type="usage:AggregateFunction" use="optional" default="NONE"/>
        <attribute name="display-name" type="xsd:string" use="optional" />
        <attribute name="unit-of-measure" type="usage:UnitOfMeasure" use="optional"/>
        <attribute name="group" type="xsd:boolean" use="optional" default="false" />
    </complexType>

    <simpleType name="AggregateFunction">
        <annotation>
            <documentation>
                <html:p>
                    Aggregate Functions.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="NONE"/>
            <enumeration value="SUM"/>
            <enumeration value="AVG"/>
            <enumeration value="MAX"/>
        </restriction>
    </simpleType>

    <simpleType name="UnitOfMeasure">
        <annotation>
            <documentation>
                <html:p>
                    Aggregate Functions.
                </html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:string">
            <enumeration value="BYTES"/>
            <enumeration value="MEGABYTES"/>
            <enumeration value="GIGABYTES"/>
            <enumeration value="SECONDS"/>
            <enumeration value="MINUTES"/>
            <enumeration value="HOURS"/>
            <enumeration value="COUNT"/>
        </restriction>
    </simpleType>
</schema>
