jobs/src/main/resources/META-INF/xsd/ProductExtension-LBaaS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/lbaas"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/lbaas">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Lbaas load balancer usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="avgConcurrentConnections"
                 use="required"
                 type="p:avgConcurrentConnectionsType">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="CUMULATIVE_AVG"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"
                                 frequency="DURATION"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="avgConcurrentConnectionsSsl"
                 use="required"
                 type="p:avgConcurrentConnectionsSslType">
         <annotation>
            <documentation>
               <html:p>The amount of conncurrent ssl connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="CUMULATIVE_AVG"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"
                                 frequency="DURATION"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthIn" use="required" type="p:bandWidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOut" use="required" type="p:bandWidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthInSsl" use="required" type="p:bandWidthInSslType">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth in, in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandWidthOutSsl" use="required" type="p:bandWidthOutSslType">
         <annotation>
            <documentation>
               <html:p>The amount of ssl bandwidth out in bytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numPolls" use="required" type="p:numPollsType">
         <annotation>
            <documentation>
               <html:p>The number of polls per load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numVips" use="required" type="p:numVipsType">
         <annotation>
            <documentation>
               <html:p>The number of vips per load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vipType" use="required" type="p:vipTypeEnum">
         <annotation>
            <documentation>
               <html:p>The vip type associated with the load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="sslMode" use="required" type="p:sslModeEnum">
         <annotation>
            <documentation>
               <html:p>The mode determining SSL status on the load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="required" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>Is the load balancer currently active?</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <!--<assert vc:minVersion="1.1"-->
              <!--test="if (@status = 'SUSPENDED') then ((@bandWidthIn = 0) and (@bandWidthOut = 0) and (@bandWidthInSsl = 0) and (@bandWidthOutSsl = 0) and (@avgConcurrentConnections = 0) and (@avgConcurrentConnectionsSsl = 0)) else true()"-->
              <!--xerces:message="If the status is SUSPENDED then bandWidthIn, bandWidthOut, bandWidthInSsl, bandWidthOutSsl, avgConcurrentConnections, and avgConcurrentConnectinsSsl should all be 0."-->
              <!--saxon:message="If the status is SUSPENDED then bandWidthIn, bandWidthOut, bandWidthInSsl, bandWidthOutSsl, avgConcurrentConnections, and avgConcurrentConnectinsSsl should all be 0.">-->
         <!--<annotation>-->
            <!--<documentation>-->
               <!--<html:p>Assertion: If the status is SUSPENDED then bandWidthIn, bandWidthOut, bandWidthInSsl, bandWidthOutSsl, avgConcurrentConnections, and avgConcurrentConnectinsSsl should all be 0.</html:p>-->
            <!--</documentation>-->
         <!--</annotation>-->
      <!--</assert>-->
      <!--<assert vc:minVersion="1.1"-->
              <!--test="if (@sslMode = 'OFF') then ((@bandWidthInSsl = 0) and (@bandWidthOutSsl = 0) and (@avgConcurrentConnectionsSsl = 0)) else true()"-->
              <!--xerces:message="If SslMode is OFF then bandWidthInSsl, bandWidthOutSsl, and avgConcurrentConnectionsSsl should all be 0."-->
              <!--saxon:message="If SslMode is OFF then bandWidthInSsl, bandWidthOutSsl, and avgConcurrentConnectionsSsl should all be 0.">-->
         <!--<annotation>-->
            <!--<documentation>-->
               <!--<html:p>Assertion: If SslMode is OFF then bandWidthInSsl, bandWidthOutSsl, and avgConcurrentConnectionsSsl should all be 0.</html:p>-->
            <!--</documentation>-->
         <!--</annotation>-->
      <!--</assert>-->
      <!--<assert vc:minVersion="1.1"-->
              <!--test="if (@sslMode = 'ON') then ((@bandWidthIn = 0) and (@bandWidthOut = 0) and (@avgConcurrentConnections = 0)) else true()"-->
              <!--xerces:message="If SslMode in ON then bandWidthIn, bandWidthOut, and avgConcurrentConnections should all be 0."-->
              <!--saxon:message="If SslMode in ON then bandWidthIn, bandWidthOut, and avgConcurrentConnections should all be 0.">-->
         <!--<annotation>-->
            <!--<documentation>-->
               <!--<html:p>Assertion: If SslMode in ON then bandWidthIn, bandWidthOut, and avgConcurrentConnections should all be 0.</html:p>-->
            <!--</documentation>-->
         <!--</annotation>-->
      <!--</assert>-->
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCER"/>
      </restriction>
   </simpleType>
   <simpleType name="avgConcurrentConnectionsType">
      <restriction base="xsd:double">
         <minInclusive value="0"/>
         <maxInclusive value="1000000"/>
      </restriction>
   </simpleType>
   <simpleType name="avgConcurrentConnectionsSslType">
      <restriction base="xsd:double">
         <minInclusive value="0"/>
         <maxInclusive value="1000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandWidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="10995116277760"/>
      </restriction>
   </simpleType>
   <simpleType name="bandWidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="10995116277760"/>
      </restriction>
   </simpleType>
   <simpleType name="bandWidthInSslType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="10995116277760"/>
      </restriction>
   </simpleType>
   <simpleType name="bandWidthOutSslType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="10995116277760"/>
      </restriction>
   </simpleType>
   <simpleType name="numPollsType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="288"/>
      </restriction>
   </simpleType>
   <simpleType name="numVipsType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="vipTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="PUBLIC"/>
         <enumeration value="SERVICENET"/>
      </restriction>
   </simpleType>
   <simpleType name="sslModeEnum">
      <restriction base="xsd:string">
         <enumeration value="ON"/>
         <enumeration value="OFF"/>
         <enumeration value="MIXED"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:string">
         <enumeration value="ACTIVE"/>
         <enumeration value="SUSPENDED"/>
      </restriction>
   </simpleType>
</xsd:schema>