rest-clients/auth/src/main/resources/META-INF/xsd/access.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:auth="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
>

    <!-- Import ATOM specific schema definitions -->
    <import vc:minVersion="1.1" namespace="http://www.w3.org/2005/Atom"
        schemaLocation="atom/atom.xsd" />

    <import vc:minVersion="2.0" namespace="http://docs.openstack.org/identity/api/v2.0"
        schemaLocation="token.xsd" />

    <!-- Elements -->
    <element name="access" type="auth:Access"/>

    <!-- Complex Types -->
    <complexType name="Access">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    A token is an arbitrary bit of text that is used to access
                    resources. Each token has a scope which describes which
                    resources are accessible with it. A token may be
                    revoked at anytime and is valid for a finite duration.
                </p>
                <p>
                    While identity supports token-based authentication in this release,
                    the intention is for it to support additional protocols in the
                    future. The desire is for it to be an integration service, and not
                    a full-fledged identity store and management solution.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/token.xml" />
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/token.json" />
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
        <sequence>
            <element name="token" type="identity:Token"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
</schema>
