rest-clients/auth/src/main/resources/META-INF/xsd/apiKeyCredentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->
<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:rax="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0"
        >

    <import vc:minVersion="1.1" namespace="http://docs.openstack.org/identity/api/v2.0"
            schemaLocation="credentials.xsd"/>

    <element name="apiKeyCredentials" type="rax:apiKeyCredentials"/>

    <complexType name="apiKeyCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="tenantId" type="xsd:string" use="optional"/>
                <attribute name="username" type="xsd:string" use="required"/>
                <attribute name="apiKey" type="xsd:string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
</schema>
