rest-clients/auth/src/main/resources/META-INF/xsd/impersonation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:impersonation="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        xmlns:atom="http://www.w3.org/2005/Atom"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        >

    <!-- Import ATOM specific schema definitions -->
    <import vc:minVersion="1.1" namespace="http://www.w3.org/2005/Atom"
            schemaLocation="atom/atom.xsd"/>
    <import vc:minVersion="1.1" namespace="http://docs.openstack.org/identity/api/v2.0"
            schemaLocation="user.xsd"/>

    <!-- Elements -->
    <element name="impersonation" type="impersonation:Impersonation">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    An impersonation
                </p>
            </xsd:documentation>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="Impersonation">
        <sequence>
            <element name="user" type="identity:User"/>
            <element name="expire-in-seconds" type="xsd:int"/>
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>