rest-clients/auth/src/main/resources/META-INF/xsd/secretqa.xsd

<?xml version="1.0" encoding="UTF-8"?>
     <?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

     <!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

     <schema
         elementFormDefault="qualified"
         attributeFormDefault="unqualified"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:identity="http://docs.rackspace.com/identity/api/ext/RAX-KSQA/v1.0"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
         xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
         xmlns:atom="http://www.w3.org/2005/Atom"
         targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-KSQA/v1.0"
     >

         <!-- Import ATOM specific schema definitions -->
         <import vc:minVersion="1.1" namespace="http://www.w3.org/2005/Atom"
                 schemaLocation="atom/atom.xsd" />

         <!-- Elements -->
         <element name="secretQA" type="identity:SecretQA"  >
             <annotation>
                 <xsd:documentation
                         xml:lang="EN"
                         xmlns="http://www.w3.org/1999/xhtml">
                     <p>
                         A role.
                     </p>
                 </xsd:documentation>
             </annotation>
         </element>


         <!-- Complex Types -->
         <complexType name="SecretQA">
             <attribute name="question" type="xsd:string" use="required"/>
             <attribute name="answer" type="xsd:string" use="required"/>
         </complexType>
     </schema>
